# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# SQLite DB & local logs
backend/app/db/*.db
*.log
*.tmp

# Environment / API Keys
.env
.env.local
*.secret

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
